@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap);

 body{
   background: ;
 }
 body {
  font-family: "Inter", sans-serif;
  background-color: rgb(83, 172, 255);
}

.main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.main-container h2 {
  font-weight: lighter;
}

.main-container h1 {
  font-weight: bold;
  font-size: 64px;
} 

#date-input{
    padding: 10px; 
    color: #000000;
    font-size: 20px;
    border:3px solid #000000;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

#check-btn{
  background-color: white; 
  border:3px solid #c7eb00;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30%;
}
 
#output-area{
  padding: 15px;
  font-weight: bold;
} 
